@model PostFormViewModel


<div class="container mb-5" style="padding-top:40px">
    <div class=row>
        <div class="col-md-8 offset-2" style="padding-top:50px">
            <div class="card" style="border:solid 2px">
                <div class="card-header fw-bold fs-5">
                    @(Model.Id == 0 ? "Post Ekleme Formu" : "Post Düzenleme Formu")
                </div>
                <div class="card-body">
                    <form asp-area="Admin" asp-controller="post" asp-action="save" method="post" enctype="multipart/form-data">

                        @if (!string.IsNullOrWhiteSpace(ViewBag.ErrorMessage))
                        {
                            <div class="alert alert-danger">
                                @ViewBag.ErrorMessage
                            </div>
                        }
                        
                        <input type="hidden" asp-for="Id" />
                        <div class="form-group mb-2">
                            <label asp-for="CategoryId" class="form-label required"></label>
                          <select asp-for="CategoryId" asp-items="@(new SelectList(ViewBag.Categories,"Id","Name"))" class="form-control"><option disabled selected>Seçiniz</option></select>
                          
                            <span asp-validation-for="CategoryId" class="text-danger fw-bold mt-1" ></span>
                        </div>
                        <div class="form-group mb-2">
                            <label asp-for="SubCategoryId" class="form-label required"></label>
                           
                          <select asp-for="SubCategoryId" asp-items="@(new SelectList(ViewBag.SubCategories,"Id","Name"))" class="form-control"><option disabled selected>Seçiniz</option></select>
                          
                            <span asp-validation-for="SubCategoryId" class="text-danger fw-bold mt-1" ></span>
                        </div>
                        <div class="form-group mb-2">
                            <label asp-for="Title" class="form-label required"></label>
                            <input asp-for="Title" type="text" class="form-control" />
                            <span asp-validation-for="Title" class="text-danger fw-bold mt-1" ></span>
                        </div>
                        <div class="form-group mb-2">
                            <label asp-for="Summary" class="form-label required"></label>
                            <textarea asp-for="Summary" type="text" rows="2" style="resize:none" class="form-control " ></textarea>
                            <span asp-validation-for="Summary" class="text-danger fw-bold mt-1" ></span>
                        </div>
                        <div class="form-group mb-2">
                            <label asp-for="Content" class="form-label required "></label>
                            <textarea asp-for="Content" type="text"  class="form-control summernote" ></textarea>
                            <span asp-validation-for="Content" class="text-danger fw-bold mt-1" ></span>
                        </div>
                        <div class="form-group mb-2">
                            <label asp-for="File"></label>
                            @if (Model.Id!=0)
                            {
                                @if (!string.IsNullOrWhiteSpace(@ViewBag.Image))
                                {
                                     <div>
                                    <img src="~/images/posts/@ViewBag.Image" style="width:200px;height:200px"/>
                                </div>
                                }
                               
                            }


                            <input asp-for="File" type="file" class="form-control mt-2"/>
                        </div>

                        

                        <button type="submit" class="btn btn-warning mt-3 float-end">@(Model.Id == 0 ? "Post Ekle" : "Post Güncelle")</button>

                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
